<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-book-shiro:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_book_shiro_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="spring-book-shiro/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-book-shiro" />
        </element>
      </element>
    </root>
  </artifact>
</component>